* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background-color: #0b1020;
  color: #e6e8ee;
  height: 100vh;
  overflow: hidden;
}

/* Pantallas */
.screen {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  opacity: 0;
  transform: translateY(-30px);
  pointer-events: none;

  transition: opacity 0.4s ease, transform 0.4s ease;
}

.screen.active {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

p {
  color: #aab0c0;
  margin-bottom: 30px;
}

button {
  padding: 12px 25px;
  font-size: 1rem;
  background-color: #3b82f6;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #2563eb;
}

/* Categorías */
.category {
  width: 100%;
  max-width: 500px;
  margin-bottom: 20px;
}

.category-title {
  background-color: #121b2f;
  padding: 15px;
  border-radius: 8px;
  cursor: pointer;
}

.topics {
  list-style: none;
  margin-top: 10px;
  padding-left: 15px;

  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
}

.topics li {
  padding: 8px 0;
  color: #aab0c0;
}
